.nav-list {
  list-style-type: none;
  padding: 0;
}

.nav-list li {
  margin: 20px 0;
}

.nav-list a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  display: flex;
  align-items: center;
}

.nav-list a:hover {
  color: #14c5fd;
}

.nav-list .active a {
  color: #14c5fd; /* Change to highlight active link */
}

.nav-list a svg {
  font-size: 16px;
}

.MuiDrawer-paper {
  background-color: #1a1a1a !important;
  padding: 40px !important;
}

html {
  scroll-behavior: smooth;
}
